
*{
    margin: 0px;
    padding: 0px;
}

/* COdigo para tirar a barra de rolagem da pag*/
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img{
    width: 100vw;

}

a{
    display: block;
    background-color: brown;
    height: 20px;
    text-align: center;

}
